body {
background-color:bl;
}
 h1{
    font: size 300%;
    font-weight: bold;
    font-family: 'San' serif ;
    color: red;
}
.column {
    float: left;
    width: 33.33%;
  }
  div .h1{
    font-size: 50%

  }
  div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
  }
  
  /* Clear floats after the columns
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    width: 50%;
  } */
  
/* #img {
  padding: bottom 5%;
  margin-bottom: 50%;
  text-align: center;
  font-family:sans-serif;
  
 
}

table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
  background-color: #fff;
}
table#t01 th {
  color: white;
  background-color: black;
} */
table {
  text-align: center;
}


    

